*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
  /* background-color: #cce6f9; */
  margin: 5rem;
}

header {
  background-color: #5fa4d2; /* Choose your preferred background color */
  color: #000000; /* Choose your preferred text color */
  text-align: center;
  padding: 10px 0; /* Adjust padding as needed */
  margin: 5rem;
  border-radius: 8px;
}

header h1 {
  margin: 0rem;
  font-size: 2.5em; /* Adjust font size as needed */
}

.topSelectors{
  margin: 1rem;
}

table {
  max-width: 960px;
  margin: 10px auto;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: #8a97a0;
  color: #FFF;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}
caption{
  width: max-content;
}
.d-none{
  display: none;
}

th, td {
  text-align: left;
  padding: 5px;
  font-weight: 300;
}

td input{
  border: unset;
  background: transparent;
}

td input:focus-visible {
  border: none !important;
  background: transparent !important;
}


tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}


/* Add this CSS in your existing stylesheet or create a new one */
#resultContainer {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;

  /* Set initial opacity to 0 */
  opacity: 0;
  
  /* Apply transition for a smooth fade-in effect */
  transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

#resultContainer.show-green {
  /* Set opacity to 1 when the show class is applied */
  opacity: 1;
  /* Add a background color for highlighting */
  background-color: #dff0d8; /* Change this color as desired */
  color: #25c328; /* Change this color as desired */
}

#resultContainer.show-red {
  /* Set opacity to 1 when the show class is applied */
  opacity: 1;
  /* Add a background color for highlighting */
  background-color: #f0d8e7; /* Change this color as desired */
  color: #c22c2c; /* Change this color as desired */
}

/* Additional style to make the text selectable */
#resultContainer strong {
  user-select: text;
}

